# Pstryk
PSTRYK_API_KEY=

# Deye Cloud
DEYE_APP_ID=
DEYE_APP_SECRET=
DEYE_EMAIL=
DEYE_PASSWORD=
DEYE_DEVICE_SN=

# Telegram
TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_ID=

# Decision Engine
PRICE_LOW_PERCENTILE=25
PRICE_HIGH_PERCENTILE=75
MIN_SOC_SELL=20
MAX_SOC_CHARGE=90
CRON_SCHEDULE=55 * * * *
